# Backend
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.pytest_cache/
echoes.db

# Frontend
node_modules/
.next/
out/
build/
.DS_Store
*.pem

# Alembic
alembic/versions/*.pyc

# IDEs
.vscode/
.idea/
*.swp
*.swo
frontend/.env.local
